/* Home Page Styles */

.home-header{
  background-color: red;
  height: 300px;
}

.main-content{
  background-color: yellow;
}

.name-header{
  text-align: right;
}

.home-button-group{
  margin-left: 5%;
  padding-top: 8%;
}

.button-middle{
  margin-left: 20px;
  margin-right: 20px;
  width: 132px;
  height: 54px;
}

/* End Home Page */


/* Score Page */

.popout{
  height: 200px;
}
.body-popout{
  text-align: center;
  margin-top: 27%;
}
.score-popout{
  text-align: center;
  margin-top: 27%;
}

#scores{
  text-align: center;
}

#board{
  text-align: center;
}

.score-card{
  background-color: aqua;
  height: 100px;
  width: 200px;

}

/* End Score Page */

.edit-box{
  background-color: red;
  margin-top: 20%;
}

.add-button{
  background-color: red;
  margin-top: 1000%;
}

