/* Login page */

.login-page{
  background-image: url('https://media.newyorker.com/photos/61e989e14c20ec321e63f851/16:9/w_1248,h_702,c_limit/wordle_big_animation2.gif');
  height: 100vh;
}

.login-container{
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
  background-color: #3a3a3c;
  padding-bottom: 4%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
}

.login-header{
  text-align: center;
  color: white;
}

#email, #password{
  border-bottom: none;
  background-color: #818384;
  color: black;
}

.submit-button{
  background-color: lightgray!important;
  color: black!important;
  margin-top: 2%!important;
}

.form-label{
  color: white;
  margin-bottom: -1%;
}


/* End Login Page */


/* Home Page Styles */

.main-content{
  background-color: #272729;
  margin-top: -2.3%;
}

.name-header{
  text-align: right;
}

.home-button-group{
  margin-left: 5%;
  padding-top: 8%;
}

.button-middle{
  margin-left: 20px;
  margin-right: 20px;
  /* width: 132px;
  height: 54px; */
}

/* End Home Page */


/* Score Page */

.popout{
  height: 200px;
}
.body-popout{
  text-align: center;
  margin-top: 27%;
}
.score-popout{
  text-align: center;
  margin-top: 27%;
}

#scores{
  text-align: center;
}

#board{
  text-align: center;
}

.score-log{
  width: 80%;
  margin-left: 10%;
}

.score-log-header{
  margin-left: 1%;
}

.score-cards{
  background-color: #818384!important;
  color: black;
}

/* End Score Page */

.edit-box{
  background-color: red;
  margin-top: 20%;
}

.add-button{
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 2%;
  margin-right: 5%;
}

/* Leaderboard Page here */

.leaderboard-header{
  background-color: black;
  color: white;
  height: 150px;
}

.leaderboard-main-text{
  text-align: center;
}

.leaderboard-description-box{
  margin-top: 10%;
  color: white;
  width: 100%;
  outline: 3px solid black;
  background-color: #3a3a3c;
}

.leaderboard-main-content{
  background-image: url('https://media.newyorker.com/photos/61e989e14c20ec321e63f851/16:9/w_1248,h_702,c_limit/wordle_big_animation2.gif');
  color: black;
  height: 100vh;
}


/* End Leaderboard */

/* Navbar styles */

#nav-bar{
  background-color: #565758;
  color: black!important;
}

#nav-title{
  color: white;
}

/* End nav */

